html { height: 100%; }
body
{
	position: relative;
	height: 100%;
	
	padding: 24px;
	background-position: center center;
	background-size: cover;
}
body.background-1 { background-image: url("../images/login/backgrounds/1.jpg"); }
body.background-2 { background-image: url("../images/login/backgrounds/2.jpg"); }
body.background-3 { background-image: url("../images/login/backgrounds/3.jpg"); }
body.background-4 { background-image: url("../images/login/backgrounds/4.jpg"); }
body.background-5 { background-image: url("../images/login/backgrounds/5.jpg"); }
body.background-6 { background-image: url("../images/login/backgrounds/6.jpg"); }
body.background-7 { background-image: url("../images/login/backgrounds/7.jpg"); }
body.background-8 { background-image: url("../images/login/backgrounds/8.jpg"); }
body.background-9 { background-image: url("../images/login/backgrounds/9.jpg"); }
body.background-10 { background-image: url("../images/login/backgrounds/10.jpg"); }
body.background-11 { background-image: url("../images/login/backgrounds/11.jpg"); }
	body > div.ui.grid
	{
		height: 100%;
	}
		@media (min-height: 800px) {
			body > div.ui.grid > div
			{
				margin-bottom: 160px;
			}
		}
.column
{
	max-width: 380px;
}
.ui.form
{
	box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.25);
}
	.ui.form .ui.segment.inverted
	{
		border: 0px;
	}

a.background-image-attribution
{
	display: block;
	position: absolute;
	right: 16px;
	bottom: 16px;
	
	color: #ffc46f;
	cursor: pointer;
	text-decoration: none;
}
a.background-image-attribution:hover
{
	color: #ffffff;
	text-decoration: underline;
}
