html { height: 100%; }
body
{
	height: 100%;
	padding: 24px;
}
	body > div
	{
		height: 100%;
	}
		@media (min-height: 800px) {
			body > div > div
			{
				margin-bottom: 160px;
			}
		}
.column
{
	max-width: 380px;
}
.ui.form
{
	box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.25);
}
	.ui.form .ui.segment.inverted
	{
		border: 0px;
	}
