@media (max-width: 767px) {
	.mobile-only { }
	
	.desktop-only {
		display:none !important;
	}
}

@media (min-width:768px) {
	.mobile-only {
		display:none !important;
	}
	
	.desktop-only { }
}

body
{
	height: 100%;
}
.main
{
	display: flex;
	flex-direction: row;
	min-height: 100%;
}
	.main-menu
	{
		flex: 0 0 auto;
		width: 260px;
		
		background-color: #1b1c1d;
		min-height: 100%;
	}
		.main-menu > .header
		{
			color: #ffffff;
			text-align: center;
			
			height: 50px;
			line-height: 50px;
			margin: 0px;
		}
		.main-menu .ui.menu
		{
			margin-top: 0px;
		}
			.main-menu .ui.menu .item
			{
				padding: 1.5em 1.5em;
				font-weight: bold;
			}
			.main-menu .ui.menu .item.level-two
			{
				color: #999999;
				padding: 1.0em 4.5em;
			}
			.main-menu .ui.menu .item.header
			{
				text-transform: uppercase;
			}
				.main-menu .ui.vertical.menu .item > i.icon
				{
					float: left;
					margin-right: 1.3em;
				}
	.main-container
	{
		display: flex;
		min-height: 100%;
	}
		.main-inner-container
		{
			display: flex;
			flex: 1;
		}
			.main-content
			{
				flex: 1 1 auto;
			}
				.admin-top-menu-divider
				{
					display: inline;
					border-left: 1px solid #ffffff;
					margin-left: 12px;
					margin-right: 12px;
				}
				.admin-top-menu strong
				{
					color: #ffffff;
				}
				.admin-top-menu a
				{
					border-bottom: 1px dotted #ffffff;
				}
				.admin-top-menu a:hover
				{
					border-bottom: 0px;
				}
				.admin-top-menu .column
				{
					white-space: nowrap;
				}
				
				.main-content .main-inner-content
				{
					padding: 24px;
					padding-top: 10px;
				}
.inverted a
{
	color: #ffffff;
}
.ui.label.only-icon > .icon
{
	margin: 0px;
}
.add .tab.segment .ui.table
{
}
	.add .tab.segment .ui.table tr th, .add .tab.segment .ui.table tr.field-label td
	{
		padding-top: 19px;
	}
	.add .tab.segment .ui.table tr.field-boolean th, 
		.add .tab.segment .ui.table tr.field-image th, 
		.add .tab.segment .ui.table tr.field-file th
	{
		padding-top: 9px;
	}
	.add .tab.segment .ui.table tr td
	{
		border-top: 0px;
	}
	.add .tab.segment .ui.table td:first-child
	{
		min-width: 180px;
		font-weight: bold;
	}
		.add .tab.segment .ui.table .field .error-label
		{
			display: none;
		}
		.add .tab.segment .ui.table .field.error .error-label
		{
			display: inline-block;
		}
		.field-file-current .card > a
		{
			padding: 24px;
			background-color: #f2711c;
			color: #ffffff;
		}

.ui.tiny.modal
{
	margin: 0 0 0 -200px;
	width: 350px;
}

.ui.modal.orange > .header
{
	background-color: #f2711c;
	color: #ffffff;
}

.login-modal
{
}
	.login-modal .field .input
	{
		width: 308px;
	}

#noty_customTopRight_layout_container > li
{
	display: flex;
}

.analytics-graph-container
{
	padding-top: 64px;
}
	.analytics-graph-container .ui.loader
	{
		font-size: 0.3em;
	}
	
	.analytics-graph-container .analytics-graph
	{
		font-size: 12px;
		margin-top: 64px;
	}
	
	.analytics-graph-container .axis path, .analytics-graph-container .axis line
	{
		fill: none;
		stroke: #aaaaaa;
		shape-rendering: crispEdges;
	}
	.analytics-graph-container .axis text
	{
		fill: #aaaaaa;
	}
	.analytics-graph-container .y.axis .tick line
	{
		stroke: #eeeeee;
	}
	.analytics-graph-container .x.axis .tick line, .analytics-graph-container .axis .domain
	{
		display: none;
	}

	.analytics-graph-container .line
	{
		fill: none;
		stroke-width: 2.5px;
	}
	.analytics-graph-container .gridline
	{
		stroke-width: 1px;
		stroke: #eeeeee;
		shape-rendering: crispEdges;
	}
	
	.analytics-graph-container .area
	{
		opacity: 0.5;
	}
